
.header__logo {
  max-width: 142px;
  min-height: 34px;
  transition: .5s ease-in-out;

  padding: 0;
  padding-left: 5px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .header__logo {
    max-width: 104px;
    min-height: 25px;
    padding-left: 25px;
  }
}
