
@import url(./__list/photo-grid__list.css);

.photo-grid {
  max-width: 882px;
  padding: 0;
  padding-top: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .photo-grid {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 400px) {
  .photo-grid {
    padding-top: 36px;
  }
}