@import url(./__form/sign__form.css);
@import url(./__heading/sign__heading.css);
@import url(./__item/sign__item.css);
@import url(./__button/sign__button.css);
@import url(./__text/sign__text.css);
@import url(./__link/sign__link.css);

.sign {
  box-sizing: border-box;
  width: 100%;
  max-width: 358px;
  height: calc(100vh - 125px);

  padding: 0;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .sign {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 400px) {
  .sign {
    max-width: 260px;
    height: calc(100vh - 90px);
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
