
.footer__copyright {
  color: #545454;  
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    padding-left: 25px;
  }
}

@media screen and (max-width: 400px) {
  .footer__copyright {  
    font-size: 14px;
    line-height: 17px;
  }
}

