
.sign__item {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #ccc;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  min-height: 17px;
  border: 0;
  border-bottom: 2px solid #CCC;
  background-color: #000;

  padding: 0;
  padding-bottom: 13px;
  margin: 0;
  margin-bottom: 30px;
}

.sign__item:focus {
  outline: 0;
}