
.profile__btn_action_edit {
  background-image: url(../../../../images/profile-btn-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  background-size: 60%;

  width: 24px;
  height: 24px;
  align-self: center;
}