@import url(../header/__logo/header__logo.css);

.header {
  max-width: 882px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  transition: .5s ease-in-out;

  padding: 0;
  padding-top: 45px;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
  }
}